<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sharee">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.mark.sharee.core.ShareeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_sharee"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_sharee_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.mark.sharee.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher"
            android:windowSoftInputMode="adjustPan">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.mark.sharee.fcm.ShareeFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name="com.mark.sharee.fcm.NotificationBroadcastReceiver" android:exported="true">
            <intent-filter>
                <action android:name="sharee.SCHEDULED_NOTIFICATION"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_sharee_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/leading_color" />
    </application>

</manifest>